@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
body {
    background: linear-gradient(90deg, #36404d 0%, #485563 100%);
    overflow: hidden;
}
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.backboard{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}
.board {
    position: relative;
    display: flex;
    user-select: none;
    width: 80vh;
    height: 80vh;
    box-shadow: 0 0 10px 1px #2a333d, -5px 0px 15px 5px #3f4b57;
    border-radius: 10px;
    background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);

}
.playground {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 300ms ease-in;
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: transparent;
}
.playground.hide {
    opacity: 0;
}
.playground.start {
    align-items: unset;
    opacity: 1;
    z-index: 10;
}

.playground.win>div, .backboard.win>div {
    animation: zoomOut;
    animation-duration: 700ms;
    opacity: 0;
}


.row {
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, 0);
    overflow: unset;
    width: 100%;
}

.col {
    display: flex;
    flex: 1;
    background-color: rgba(209, 209, 209, 0.9);
    margin: 0.5px;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: transform 200ms ease-in;
    box-shadow: 0 0 4px 0px #333d48;
    font-size: 3rem;
}
.backcol {
    display: flex;
    flex: 1;
    margin: 0.5px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.1);
    font-size: 3rem;
}
.col.hold {
    border: none;
    box-shadow: 0 0 2 rgba(0, 0, 0, 0.1);
}
.col.hide{
    opacity: 0;
}
.col.hovered {
    box-shadow: inset 0 0 10px 2px rgb(2 83 239 / 29%), 0 0 20px 2px rgb(2 83 239 / 29%);
    opacity: .9;
}
.col.FS {
    cursor: auto;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.draggable{
    box-shadow: inset 0 0 10px 2px rgb(2 83 239 / 29%), 0 0 20px 2px rgb(2 83 239 / 29%);
}
.start-btn {
    width: fit-content;
    background-color: transparent;
    border: 2px solid #C0C0C0;
    color: #fff;
    cursor: pointer;
    font-family: inherit;
    padding: .5rem 1rem;
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}
.start-btn:hover {
    border: 2px solid #16D9E3;
    color: #16D9E3;
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90%;
    width: 90%;
}
.result.info {
    padding: 10px;
}
.result-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: #fff;
   
}
.result-text>strong, .difficulty>strong {
    color: #16D9E3;
}

.difficulty {
    position: relative;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    font-size: 1.5rem;
    color: #fff;
    vertical-align: middle;
}
[data-level] {
    left: -25%;
}
.difficulty>i {
    cursor: pointer;
    transition: padding 100ms;
}
.fa-angle-left{
    right: 150%;
}
.fa-angle-right{
    left: 150%;
}
.difficulty>i:hover {
    font-size: 2rem;
    color: #16D9E3
}

.difficulty:hover>i {
    padding: 0 20px;
    font-size: 2rem;
}
.start-btn:hover ~ .difficulty>strong {
    color: #fff;
}

@media (max-aspect-ratio: 4/5) {
    .board {
        width: 95vw;
        height: 95vw;
    }
}
